

# Exec files
axis/axis

!/wd/
/wd/*
asteroids_format.csv

# Ignore test compiled files
axis/TestRunner*
axis/makeTestRunner
*_fun.f90

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
